/* line 1, ../../sass/website/aboutUs.scss */
section#sobreNos {
  background-color: #fff;
  padding: 100px 0 0 0;
}
/* line 6, ../../sass/website/aboutUs.scss */
section#sobreNos .all .one .title {
  margin-bottom: 60px;
  border-bottom: 1px solid #eee;
}
/* line 9, ../../sass/website/aboutUs.scss */
section#sobreNos .all .one .title h1 {
  font-size: 28px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  color: #1e1e1e;
  margin-bottom: 15px;
}
/* line 19, ../../sass/website/aboutUs.scss */
section#sobreNos .all .two .text {
  display: flex;
}
/* line 23, ../../sass/website/aboutUs.scss */
section#sobreNos .all .two .imagem {
  padding: 0 15px 0 0;
}
/* line 25, ../../sass/website/aboutUs.scss */
section#sobreNos .all .two .imagem .img {
  height: 350px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* line 32, ../../sass/website/aboutUs.scss */
section#sobreNos .all .two .textos {
  padding: 0 0 0 15px;
}
/* line 35, ../../sass/website/aboutUs.scss */
section#sobreNos .all .two .textos .title h4 {
  color: #1a6692;
  font-size: 17px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  margin-bottom: 20px;
  line-height: 20.4px;
}
/* line 45, ../../sass/website/aboutUs.scss */
section#sobreNos .all .two .textos .conteudo p {
  color: #4a4a4a;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  line-height: 24px;
  margin-bottom: 25px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}
/* line 58, ../../sass/website/aboutUs.scss */
section#sobreNos .all .two .textos .social .icons {
  display: flex;
  padding-left: 0px;
}
/* line 62, ../../sass/website/aboutUs.scss */
section#sobreNos .all .two .textos .social .icons .socialIcon a {
  width: 50px;
  height: 50px;
  display: inline-block;
  line-height: 50px;
  background-color: #eee;
  font-size: 18px;
  text-align: center;
  margin-right: 5px;
}
/* line 71, ../../sass/website/aboutUs.scss */
section#sobreNos .all .two .textos .social .icons .socialIcon a i {
  color: #121212;
  font-size: 18px;
}
/* line 81, ../../sass/website/aboutUs.scss */
section#sobreNos .all .three {
  margin-top: 100px;
}
/* line 84, ../../sass/website/aboutUs.scss */
section#sobreNos .all .three .description .title {
  margin-bottom: 60px;
  border-bottom: 1px solid #eee;
}
/* line 87, ../../sass/website/aboutUs.scss */
section#sobreNos .all .three .description .title h1 {
  font-size: 28px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  color: #1e1e1e;
  margin-bottom: 15px;
}
/* line 96, ../../sass/website/aboutUs.scss */
section#sobreNos .all .three .description .subtitle h4 {
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  line-height: 24px;
  color: #212529;
}
/* line 105, ../../sass/website/aboutUs.scss */
section#sobreNos .all .three .description .conteudo p {
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  line-height: 24px;
  color: #4a4a4a;
}
