/* line 1, ../../sass/website/contactUs.scss */
section#contact {
  padding-top: 100px;
  background-color: #fff;
}
/* line 5, ../../sass/website/contactUs.scss */
section#contact .allcontact .title {
  margin-bottom: 60px;
}
/* line 7, ../../sass/website/contactUs.scss */
section#contact .allcontact .title h2 {
  color: #1e1e1e;
  font-family: 'Poppins', sans-serif;
  font-size: 28px;
  font-weight: 400;
  padding-bottom: 15px;
  border-bottom: 1px solid #eee;
}
/* line 17, ../../sass/website/contactUs.scss */
section#contact .allcontact .quadroUm .all {
  display: flex;
  justify-content: center;
  height: 337px;
}
/* line 21, ../../sass/website/contactUs.scss */
section#contact .allcontact .quadroUm .all .map {
  padding-left: 0px;
}
/* line 24, ../../sass/website/contactUs.scss */
section#contact .allcontact .quadroUm .all .map .mapa iframe {
  width: 100%;
  height: 337px;
}
/* line 32, ../../sass/website/contactUs.scss */
section#contact .allcontact .quadroUm .all .textos {
  margin-left: 30px;
}
/* line 35, ../../sass/website/contactUs.scss */
section#contact .allcontact .quadroUm .all .textos .subtitle h4 {
  color: #1a6692;
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
  margin-bottom: 15px;
}
/* line 44, ../../sass/website/contactUs.scss */
section#contact .allcontact .quadroUm .all .textos .conteudo p {
  color: #4a4a4a;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #eee;
}
/* line 57, ../../sass/website/contactUs.scss */
section#contact .allcontact .quadroUm .all .textos .social .icons {
  display: flex;
  padding-left: 0px;
}
/* line 61, ../../sass/website/contactUs.scss */
section#contact .allcontact .quadroUm .all .textos .social .icons .socialIcon a {
  width: 50px;
  height: 50px;
  display: inline-block;
  line-height: 50px;
  background-color: #eee;
  font-size: 18px;
  text-align: center;
  margin-right: 5px;
}
/* line 70, ../../sass/website/contactUs.scss */
section#contact .allcontact .quadroUm .all .textos .social .icons .socialIcon a i {
  color: #121212;
  font-size: 18px;
}
/* line 81, ../../sass/website/contactUs.scss */
section#contact .allcontact .titleform {
  margin-top: 100px;
}
/* line 83, ../../sass/website/contactUs.scss */
section#contact .allcontact .titleform h1 {
  color: #1e1e1e;
  font-family: 'Poppins', sans-serif;
  font-size: 28px;
  font-weight: 400;
  padding-bottom: 15px;
  border-bottom: 1px solid #eee;
}
/* line 95, ../../sass/website/contactUs.scss */
section#contact .allcontact .formbox .all-form .form-group input {
  width: 100%;
  height: 44px;
  margin: 45px 0 30px;
  padding: 6px 12px;
  border-radius: 0px;
  color: #212529;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  background-color: #fff;
  border: 1px solid #eee;
}
/* line 108, ../../sass/website/contactUs.scss */
section#contact .allcontact .formbox .all-form .form-group textarea {
  min-height: 120px;
  margin: 0 0 30px;
  padding: 6px 12px;
  border-radius: 0px;
  color: #212529;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  background-color: #fff;
  border: 1px solid #eee;
}
/* line 122, ../../sass/website/contactUs.scss */
section#contact .allcontact .formbox .all-form .button a {
  background: #f33f3f;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 300;
  padding: 10px 20px;
}
/* line 134, ../../sass/website/contactUs.scss */
section#contact .allcontact .formbox .quadroContact .img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 246px;
  margin-top: 45px;
}
/* line 142, ../../sass/website/contactUs.scss */
section#contact .allcontact .formbox .quadroContact .textSocial p {
  color: #212529;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  margin-top: 15px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
}
